*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frame{
    margin: 200px auto;
    max-width: 800px;
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 70px;
    background-color: #1b5589;
}
.content{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings{
    width: 90%;
}
.set_header{
    width: 100%;
    background-color: #cce5ff;
}
ul{
    list-style-type: none;
}
.header{
    justify-content: space-between;
}
.header, .header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header ul li{
    margin: 0 0 0 20px;
}
.header ul li img{
    width: 50px;
    height: 50px;
}
.header ul li a{
    text-decoration: none;
    color: #809db5;
}
.header ul li:nth-child(4) a{
    color: #dae4ed;
}
.header ul li a:hover{
    color: #dae4ed;
}

.header div img{
    margin-right: 20px;
}
h1{
    font-family: Tahoma;
    font-size: 32px;
    padding: 23px 0;
    font-weight: normal;
    color: #1a3f55;
}
.set_header{
    border-radius: 5px;
}
.set_header ul{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
}
.set_header ul li{
    color: #275da4;
    padding: 10px 50px;
}
.set_content{
    width: 100%;
    display: flex;
    flex-direction: row;
}
form{
    padding: 20px 0;
    width: 100%;
    display: flex;
}
form:nth-child(1){
    width: 22%;
    margin-right: 20px;
}
form:nth-child(2){
    width: 37%;
}
form:nth-child(3){
    margin-left: 20px;
    width: 38%;
}
.image{
    margin-bottom: 10px;
    width: 100%;
}
.set_content form ul{
    width: 100%;
}
input{
    margin: 5px 0;
    width: 100%;
    padding: 7px 7px;
    font-size: 15px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    outline: none;
}
#avatar{
    display: none;
    margin-top: 20px;
}
label, input[type=submit]{
    display: block;
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #6c757d;
    color: #dae4ed;
    cursor: pointer;
}
input:focus:valid{
    box-shadow: 0 0 2px 2px #1fe71f;
}
input:focus:invalid{
    box-shadow: 0 0 2px 2px red;
}