*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frame{
    margin: 200px auto;
    max-width: 800px;
    width: 100%;
    max-height: 500px;
    height: 100%;
}
.header{
    width: 100%;
    height: 70px;
    background-color: #1b5589;
}
.content{
    width: 100%;
    height: 440px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings{
    width: 90%;
}
.set_header{
    width: 100%;
    background-color: #cce5ff;
}
ul{
    list-style-type: none;
}
.header{
    justify-content: space-between;
}
.header, .header ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header ul li{
    margin: 0 0 0 20px;
}
.header ul li img{
    width: 50px;
    height: 50px;
}
.header ul li a{
    text-decoration: none;
    color: #809db5;
}
.header ul li a:hover{
    color: #dae4ed;
}
.header div img{
    margin-right: 20px;
}
h1{
    font-family: Tahoma;
    font-size: 32px;
    padding: 23px 0;
    font-weight: normal;
    color: #1a3f55;
}
.set_header ul{
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
}
.set_header ul li{
    color: #275da4;
    padding: 10px 50px;
}
.set_content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}